<h2>Abbie Murphy</h2>
        <p>Abbie Murphy is a Junior at Brandeis University majoring in Computer Science and minoring in Music as a
        Leonard Bernstein Fellow (she plays the oboe!). Abbie's GPT route included creating a customized food tour
        itinerary for the user and storing these tours to save for later. Abbie also created the index page with
        the routes to each gpt page. </p>
