<h1>About the app</h1>
<p class="bg-info text-danger">Choose Your Adventure!</p> 
    <br>
    <p>This app is will create travel itineraries based off of what type of trip you would like to take.
    The types of trips include tourist attraction based, food tour, and art based and all accept different
    parameters required to make the perfect trip for you. Each type of trip will use your inputed requests
    to send a prompt to chat GPT to build your itinerary. </p>
