<h2>Aria Smith</h2>
        <p>Aria Smith is a senior double majoring in Computer Science and Studio Art who can always be found
            in museums all around Boston and even in Washington DC
            when she is home! Aria's GPT route included creating a customized art museum guide
            for the user and storing these to save for later. Aria also...
        </p>