<h1> Tourist Attractions Itinerary for <%= user.username %> </h1>

  <form method="post" action="attractions">
            Destination: 
            <br> <input type="text" name="Destination">
            <br>
            
            <br> 
            
            Number of days at destination: 
            <br> <input type="text" name="Duration">
            <br>
            
            <br> 
            
            Budget: 
            <br> <input type="number" name="Budget">
            <br>
            
            <br>
            
            What type of attractions do you want to see (i.e. nature, leisure, historical, iconic):
            <br> <input type="text" name="Type">
            <br>
           
            <br>
           
            <label>
              <input type="checkbox" name="Surprise">
              Would you like to add a surprise location?
            </label>
            <br>

            <br>
            <input type="submit" value="Let's Hit the Ground Running!">
        </form>
