<h1> Customized Food Tour for <%= user.username %> </h1>

  <form method="post" action="food">
            Destination: <br> <input type="text" name="destination">
            <br>
            How many days will you be staying?: <br> <input type="text" name="duration">
            <br>
            Budget: 
            <br>
            <input type="number" name="budget">
            <br>
            Any cravings you have?:
            <br>
            <input type="text" name="yum">
            <br>
            Anything to avoid?:
            <br>
            <input type="text" name="yuck">
            <br>
            <label>
                <input type="checkbox" name="age21">
                  Include local bars and wineries?
            </label>
            <input type="submit" value="store">
        </form>
