<h2>Monica Iizuka</h2>
        <p>Monica Iizuka is a Junior at Brandeis University majoring in Computer Science and minoring in Mathematics. Every time Monica goes to travel, 
        she wishes that there was a means of obtaining a complete itinerary for her trips. That is why Monica has decided to create a GPT
        route that produces a personalized tourist attraction itinerary for any chosen destination. Monica has also developed the code for the team page that 
        links to each of the team member's bio page. </p>
