
<h1>Group 20 (The Team)</h1>
       <p>Group 20 members is comprised of two computer science ladies aimed at providing 
       user scentric web applications for the whole of spring semester 2023. These 
       amazing developers include:</p>
       
       <a  class="btn btn-sm btn-primary"
                     href="/monicaIizuka">Monica Iizuka</a>
      
