<h1> Plan Your Trip: Itinerary Builder </h1>

<div class="containter-fluid">
     <div class="col">
        <p> Here is your list of things to do! </p>
    <div class="row">
        <div class="col">
            <p>
                <a  class="btn btn-sm btn-primary"
                     href="/attractions">Don't Miss Iconic Attractions</a></p>
        </div> 
        
        <div class="col">
            <p>
                <a  class="btn btn-sm btn-primary"
                     href="/food">Trips For the Foodies</a>
            </p>
        </div>
        
       
        </div>
            
 </div>
