<h1> Itinerary Builder </h1>


     <a  class="btn btn-sm btn-primary"
                     href="/attractions">Don't Miss Iconic Attractions</a>
                     
           
     <a  class="btn btn-sm btn-primary"
                     href="/food">Trips For the Foodies</a>

